<div class="container main">
  <h1>List of Burgers</h1>
  <div class="row">
    <div class="col-md-6">
      <h2>Burgers To Devour</h2>
      <ul id="burgerlist">
        {{#each all }}
          {{#unless this.devoured}}
          <li>Name: {{burger_name}} <br> Devoured: {{devoured}} <br> Time Created: {{date}}</li>
          <button burger_id="{{id}}" class="devour btn">Devour</button>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Devoured Burgers</h2>
        <ul id="devouredBurgerlist">
          {{#each all }}
            {{#if this.devoured}}
              <li>Name: {{this.burger_name}} <br> Devoured: {{this.devoured}}</li>
            {{/if}}
          {{/each}}
        </ul>
    </div>
  </div>
  <div class="row">
    <form action="/post-burger">
      New Burger Name:<br>
      <input id="burgerText" type="text" name="burger_name">
      <br><br>
      <input id="submitBurger" class="btn" type="submit" value="Click Here To Add a Burger!">
    </form> 
  </div>
</div>